#
# See RUNNING.md for instructions on how to use this file
#

# By default, the application binds to port 8000 for local development to prevent
# a conflict with the front end. Depending on the constraints of your client
# applications, this may need to be adjusted.
SERVER_PORT=8000

#
# Database configuration
#

# These are the defaults used in docker-compose.yml
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/hapi
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_DATASOURCE_DRIVERCLASSNAME=org.postgresql.Driver
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgresDialect

#
# FHIR server configuration
#

HAPI_FHIR_FHIR_VERSION=R4

#
# FHIR server UI configuration
#

HAPI_FHIR_TESTER_HOME_NAME=Local Tester
HAPI_FHIR_TESTER_SERVER_ADDRESS=http://localhost:8000/fhir
HAPI_FHIR_TESTER_HOME_REFUSE_TO_FETCH_THIRD_PARTY_URLS=false
HAPI_FHIR_TESTER_HOME_FHIR_VERSION=R4

#
# OAuth 2 authorization server configuration
#

# Enables JSON web token authentication
OCTRI_SANDBOX_OAUTH2_ENABLE_TOKEN_AUTH=true

# OAuth2 authentication server URLs. If you configured the OCTRI FHIR sandbox to use a different
# port or context path, or you are using a different OAuth2 authorization server, these will
# need to be updated.
OCTRI_SANDBOX_OAUTH2_ISSUER_ADDRESS=http://localhost:8080/fhir-sandbox
OCTRI_SANDBOX_OAUTH2_AUTHORIZE_ADDRESS=http://localhost:8080/fhir-sandbox/oauth2/authorize
OCTRI_SANDBOX_OAUTH2_TOKEN_ADDRESS=http://localhost:8080/fhir-sandbox/oauth2/token
OCTRI_SANDBOX_OAUTH2_JWK_SET_ADDRESS=http://localhost:8080/fhir-sandbox/oauth2/jwks
